ul.navbar-nav a {
	text-decoration: none;
	color: #e0e0e0;
	padding: 1rem;
	background-color: #0023585e;
	margin: 0.4rem;
	border-radius: 0.4rem;
}

ul.navbar-nav a:hover {
	color: lightblue;
}

.navbar {
	background-color: rgb(79, 55, 47);
	min-height: 5rem;
}

.navbar-brand {
	color: #e0e0e0;
}

.container-fluid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
}

.navbar>.container-fluid {
	padding-left: 1rem;
}

.navbar-brand:hover {
	color: lightblue;
}

header span {
	color: white;
	padding: 1rem;
}

 /* ------------------- New CSS Classes ------------------- */

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: row;
	font-size: large;
	width: 100%;
}

.navbar-color {
	background-color: var(--foreground-c);
	box-shadow: 0 20px 50px rgba(0, 0, 0, var(--navbar-shadow-intensity));
}

.nav-container {
	color: var(--main-text-c);
}

.nav-container:has(.nav-link),
.nav-container:has(.github) {
	background-color: var(--nav-container-c);
	border-radius: 0.5rem;
	display: flex;
    justify-content: space-between;
	align-items: center;
    flex-direction: row;
	font-size: large;
	height: 3.5rem;
	overflow: hidden;
	gap: 1rem;
}

.page-title {
	font-size: xx-large;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
	font-weight: 800;
}

.left-nav {
	justify-content: flex-start;
	padding: 0 1.5rem;
}

.right-nav {
	justify-content: flex-end;
}

.github {
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: space-between;
	align-items: center;
    flex-direction: row;
	padding: 0 2rem;
	color: var(--text-c);
	text-decoration: none;
	gap: 2rem;
	font-weight: 400;
}

.github-signin {
	background-color: black;
	color: white;
}

.github-signin {
	background-color: black;
	color: white;
}

.github-signin:hover {
	background-color: black;
	color: lightgray;
	text-decoration: none;
}

.github-signin:active {
	background-color: black;
	color: gray;
	text-decoration: none;
}

.nav-container>a.nav-link.navlink-custom {
    color: var(--text-c);
}

.nav-container>a.nav-link.navlink-custom:hover {
    color: var(--text-c);
	opacity: 70%;
}

.nav-container>a.nav-link.navlink-custom:active {
    color: var(--main-text-c);
	opacity: 100%;
}