.spec{
    font-size: medium;
}

.details-container {
    display: flex;
    flex-direction: row;
}

/* .details {
    margin-right: 2.5rem;
} */

/* .Spacer-B {
    margin-bottom: 2.5rem;
} */

.details-body-container {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0;
}

.details-cell {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    outline: 0.5px solid gainsboro;
    /* min-width: 17rem; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.next-to {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.hr-line.divider{
    width: calc(100% + 4rem);
    margin: 1rem -2rem;
}

.Specs-Bench {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 2.5rem;
    margin: 0;
}