.vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.selection-list.horizontal-group {
    flex-direction: row;
}

.table-spinner-container {
    height: 100%;
    width: 100%;
}

.table-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.priceperformance-table {
    margin-bottom: 0px;
}

@media (max-width: 80rem) {
    .table-scroll:has(.priceperformance-table) {
        margin-top: 0;
    }
}