.vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.selection-list {
    gap: 2rem;
}

.pagination-organize {
    display: flex;
    flex-direction: row;
    height: 100%;
}