.page-container:has(.filters-table) {
    max-width: 105rem;
}

.vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.pagination-organize {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 0.5px solid gainsboro;
    /* border-top: 0; */
    width: 100%;
    justify-content: flex-end;
    background-color: white;
    padding: 0.3rem;
}

.table-spinner-container {
    height: 100%;
    width: 100%;
}

.table-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.priceperformance-table {
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.slider {
    width: 100%;

}

.selection-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    height: 100%;
}

.filters-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.horizontal-group.slider {
    padding: 0 3rem 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-list > .vertical-group {
    align-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
}

.wide-modal > .modal-dialog {
    max-width: 80rem;
}

.min-height-table {
    min-height: 55rem;
    width: 100%;
    background-color: white;
}

@media (min-width: 80rem) {
    .filters-table {
        flex-direction: row;
    }

    .table-scroll {
        flex-grow: 1;
    }

    .selection-list {
        width: 25rem;
        max-height: 100%;
        overflow-y: auto;
        flex-shrink: 0;
        margin: 1rem 0;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.8);
        border-left: 0.5px solid gainsboro;
        border-top: 0.5px solid gainsboro;
        border-bottom: 0.5px solid gainsboro;
    }

}