.vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.pagination-organize {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 0.5px solid gainsboro;
    border-top: 0;
    width: 100%;
    justify-content: flex-end;
    background-color: white;
    padding: 0.3rem;
}

.table-spinner-container {
    height: 100%;
    width: 100%;
}

.table-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.priceperformance-table {
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.slider {
    width: 100%;

}

.selection-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    height: 100%;
  }

.filters-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.horizontal-group.slider {
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-list > .vertical-group {
    align-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
}

@media (max-width: 80rem) {
    .selection-list {
        flex-direction: column;
    }
}