:root {
    --background-c: #5E6580;
}

html, body {
    background-color: var(--background-c);
}

main > .container {
    margin: 0px;
    margin-top: 6rem;
    min-width: 100%;
    padding: 0px;
    background-color: var(--background-c);
}

.page-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    background-color: var(--background-c);
}

.row-hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.15s cubic-bezier(0.22, 1, 0.36, 1);
}

.row-hover:hover {
    background-color: rgb(245, 245, 245);
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.5px solid gainsboro;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

tr{
    border: 0.5px solid gainsboro;
}

th,
td {
    text-align: center;
    padding: 0.5rem;
}

th {
    background-color: rgb(0, 35, 88);
    color: rgb(255, 255, 255);
}