:root,body{
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --background-c: #495b6a;
    --foreground-c: white;
    --foreground-button-c: white;
    --nav-container-c: rgb(240, 240, 240);
    --main-text-c: rgb(116, 116, 116);
    --card-text-c: black;
    --text-c: rgb(90, 90, 90);

    --regular-shadow-intensity: 0.05;
    --hover-shadow-intensity: 0.3;
    --active-shadow-intensity: 0.6;
    --navbar-shadow-intensity: 0.2;
    --card-size: 16rem;

    --odd-table-color: rgb(232, 232, 232);
    --even-table-color: rgb(240, 240, 240);
    --info-container: white;
}

html, body {
    background-color: var(--background-c);
}

main > .container {
    margin: 0px;
    margin-top: 6rem;
    min-width: 100%;
    padding: 0px;
    background-color: var(--background-c);
}

.page-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    background-color: var(--background-c);
}

.row-hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.15s cubic-bezier(0.22, 1, 0.36, 1);
}

.row-hover:hover {
    background-color: rgb(245, 245, 245);
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.5px solid gainsboro;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

tr{
    border: 0.5px solid gainsboro;
}

th,
td {
    text-align: center;
    padding: 0.5rem;
}

th {
    background-color: rgb(0, 35, 88);
    color: rgb(255, 255, 255);
}


/* General Table Stuff*/
.Page-Content-Container {
    width: 100%;
    height: 100%;
    background-color: var(--foreground-button-c);
    box-shadow: 0 20px 50px rgba(0, 0, 0, var(--regular-shadow-intensity));
    border-radius: 0.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.Page-Content-Container.Spacer {
    background-color: var(--info-container);
}

.Table-Base {
    font-size: medium;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
    overflow-x: auto;
    width: 100%;
}

.Table-Base-TR td {
    height: 2rem;
    background-color: var(--even-table-color);
    text-align: center;
    word-break: break-all;
    overflow-wrap:break-word;
    padding: 0.75rem 0;
}

.Table-Base th {
    font-size: large;
    background-color: transparent;
    color: black;
}

.Table-Base tr {
    border: none;
}

.Table-Base-TR {
    border: none;
}

.Bottom-Info-Container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-all;
    overflow-wrap:break-word;
    margin: 0rem 2rem;
}

.Bottom-Info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0.5rem 1.75rem;
    background-color: var(--odd-table-color);
    border-radius: 0.5rem;
}

.Spacer {
    margin-top: 1rem;
}

.Info-Desc {
    margin-top: 1.5rem;
}

.Table-Base-TR td:nth-child(odd), #TD-Start{
    background: var(--odd-table-color);
}

.Table-Base-TR td:first-child{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.Table-Base-TR td:last-child{
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.page-title {
	font-size: xx-large;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
	font-weight: 800;
}

.body-details{
    background-color: var(--foreground-c);
}

.text-center {
    text-align: center;
}

.list-button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem 0.375rem;
}

.pagination-organize {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 0.5px solid gainsboro;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.Table-List {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.pagination {
    top: 3000rem;
    position: sticky;
}